@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./Site-Scheme.scss";

.navbar-brand, .navbar{
  font-family: OpenSans;
}

.navbar{
  font-size: 18px;
}

.dropdown-menu{
  background-color: transparent;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: $secondary-color;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: $secondary-color;
  color: #fff;
}

.container-fluid {
  max-width: 1920px;
}

.row-nav {
  min-width: 100%;
}

@media (max-width: 768px) {
  .navbar .burger-menu, .dropdown-item {
    text-align: center;
  }
  .social-bar{
    justify-content: center;
  }
}

@media (min-width: 769px) {
  .social-bar{
    justify-content: end;
  }
}