@import "./Site-Scheme.scss";

.card-row {
  margin-bottom: 20px;
}

.card-body {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* relevant styles */
.card-img-wrap {
  position: relative;
}

.card-img-over {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $secondary-base-color;
  color: $secondary-color;
  font-family: MontserratMedium, sans-serif;
  font-style: Italic;
  font-size: 30px;
  margin-bottom: 0;
  visibility: hidden;
  text-align: center;
  opacity: 0;
  transition: opacity .5s, visibility .5s;
}


.card-img-wrap:hover .card-img-over {
  visibility: visible;
  opacity: 1;
}

ul.card-list {
  padding-left: 20px;
  color: $base-font-color-light;
}

@media only screen and (min-width: 1151px) {
  .card {
    width: 445px;
    background: $base-color;
  }

  .card .h5{
    color: $highlight-color;
    font-family: MontserratSemiBold, sans-serif;
    font-style: Italic;
    font-size: 25px;
    margin-bottom: 0;
  }

  .card-img-over {
    font-size: 30px;
  }

  .card .card-text {
    color: $base-font-color-light;
    font-family: MontserratMedium, sans-serif;
    font-style: Italic;
    font-size: 20px;
  }

  ul.card-list li {
    color: $base-font-color-light;
    font-family: MontserratMedium, sans-serif;
    font-style: Italic;
    font-size: 20px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1150px) {
  .card {
    width: 445px;
    background: $base-color;
  }

  .card .h5{
    color: $highlight-color;
    font-family: MontserratSemiBold, sans-serif;
    font-style: Italic;
    font-size: 20px;
    margin-bottom: 0;
  }

  .card-img-over {
    font-size: 20px;
  }

  .card .card-text {
    color: $base-font-color-light;
    font-family: MontserratMedium, sans-serif;
    font-style: Italic;
    font-size: 16px;
  }

  ul.card-list li {
    color: $base-font-color-light;
    font-family: MontserratMedium, sans-serif;
    font-style: Italic;
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .card {
    background: $base-color;
    width: 340px;
  }

  .card .h5{
    color: $highlight-color;
    font-family: MontserratSemiBold, sans-serif;
    font-style: Italic;
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 10px;
  }

  .card-img-over {
    font-size: 24px;
  }

  .card .card-text {
    color: $base-font-color-light;
    font-family: MontserratMedium, sans-serif;
    font-style: Italic;
    font-size: 15px;
  }

  ul.card-list li {
    color: $base-font-color-light;
    font-family: MontserratMedium, sans-serif;
    font-style: Italic;
    font-size: 15px;
    margin-left: 10px;
  }
}