$base-color: #f8f9fa;
$base-font-color: #4A6058;
$base-font-color-light: #76867E;
$base-font-color-extra-light: #87978f;
$secondary-base-color: #0C2117;
$secondary-color: #33cc99;
$highlight-color: #d47360;
$highlight-color-dark: #c14a33;

@font-face {
  font-family: 'MontserratBlack';
  src: local('MontserratBlack'), url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratBold';
  src: local('MontserratBold'), url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratExtraBold';
  src: local('MontserratExtraBold'), url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratExtraLight';
  src: local('MontserratExtraLight'), url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratLight';
  src: local('MontserratLight'), url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratMedium';
  src: local('MontserratMedium'), url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratSemiBold';
  src: local('MontserratSemiBold'), url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratThin';
  src: local('MontserratThin'), url('../fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
}